include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include Cargo.toml

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include src *
recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
