[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
ipython = "*"

[dev-packages]
bump2version = "*"
wheel = "*"
watchdog = "*"
black = "==20.8b1"
nox = "*"
Sphinx = "*"
twine = "*"
pytest-cov = "*"
mypy = "*"
sphinx-autodoc-typehints = "*"
Faker = "*"
maturin = "*"
flake8 = "*"
pytest-flake8 = "*"
flake8-docstrings = "*"
atomicwrites = "*"
